<template>
  <div class="home">
  <div v-if="checkRoles(['ROLE_USER1'])">
    Hello User1
  </div>
  <div v-if="checkRoles(['ROLE_USER2'])">
    Hello User2
  </div>
  </div>
</template>

<script>
import auth from '@/components/auth/auth.js'
import axios from 'axios'

export default {
  name: 'home',
  methods: {
    checkRoles: function (roles) {
      return auth.hasAnyOf(roles)
    }
  },
  mounted: function () {
    axios.get('http://localhost:8090/api/services/resource1',
      { headers: auth.getAuthHeader() }
    ).then(response => console.log(response))
      .catch(error => console.log(error))
  }
}
</script>
